<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <!-- 数据源相同的内容 -->
    <bean class="org.springframework.jdbc.datasource.DriverManagerDataSource" id="parentDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver">
        </property>
        <property name="username">
            <value>root</value>
        </property>
        <property name="password">
            <value>root</value>
        </property>
    </bean>

    <!-- 数据库test -->
    <bean parent="parentDataSource" id="adminDataSource">
        <property name="url">
            <value>jdbc:mysql://localhost:3306/test</value>
        </property>
    </bean>
    <!-- 数据库test1 -->
    <bean parent="parentDataSource" id="userDataSource">
        <property name="url">
            <value>jdbc:mysql://localhost:3306/test2</value>
        </property>
    </bean>

    <!-- 编写spring 配置文件的配置多数源映射关系 -->
    <bean class="com.frogking.datasource.DynamicDataSource" id="dataSource">
        <property name="targetDataSources">
            <map key-type="java.lang.String">
                <entry value-ref="adminDataSource" key="12"></entry>
                <entry value-ref="userDataSource" key="123"></entry>
            </map>

        </property>
        <property name="defaultTargetDataSource" ref="adminDataSource">
        </property>
    </bean>

    <!-- sessionFactory的配置 -->

    <bean class="org.springframework.orm.hibernate3.LocalSessionFactoryBean" id="sessionFactory">
        <property name="dataSource">
            <ref local="dataSource"></ref>
        </property>
        <!-- 实体映射资源 -->
        <property name="mappingResources">
            <list>
                <value>com/frogking/entity/User.hbm.xml</value>
                <value>com/frogking/entity/Admin.hbm.xml</value>
            </list>
        </property>
        <!-- 为sessionFactory配置Hibernate属性 -->
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">
                    org.hibernate.dialect.MySQLDialect
                </prop>
                <prop key="hibernate.show_sq">true</prop>
                <prop key="hibernate.connection.autocommit">false</prop>
                <prop key="hibernate.cache.use_query_cache">false</prop>
                <prop key="hibernate.max_fetch_depth">2</prop>
                <prop key="hibernate.bytecode.use_reflection_optimizer">
                    true
                </prop>
            </props>
        </property>

    </bean>

    <bean id="userDao" class="com.frogking.dao.impl.UserDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

</beans>